body {
  margin: 0;
  padding: 0;
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

p, span{
  margin:0;
  padding:0;
  word-wrap: break-word;
}

form h5{
  padding:14px 0;
}
.collapsible-body span{
  display: block;
}
.collapsible-body div.btn{
  margin-top:10px;
}
li.collection-item{
  padding:120px 0;
}
.card-title{
  padding:10px;
  margin-bottom:-10px;
}

/*  topic title and numberofcomments in topicslist  */
p.text-title{
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  margin-right:50px;
  color:black;
}
span.secondary-content{
 margin-right:20px;
 position: absolute;
 right:0px;
 top:0px;
}

/* card action inside topic */
.card-action div{
  display: inline-block;
  margin-left:10px;
}

/*  name/date uder each comment  */
div.collection-item div{
  margin-top:10px;
  margin-right:10px;
  display:inline-block;
  vertical-align: middle;
}
div.collection-item p {
  margin-top:6px;
}

/* set smaller input field in add comment */
div.input-field{
  margin-top:-4px;
}

/* close to each other each topic in topiclist homepage */
div.topic-list div.card {
  margin-top:-14px;
}

div.card div.card-content p{
  margin-top:10px;
}

/* ICON: DELETE */
.material-icons{
  font-size:24px;
}
.material-icons:hover{
  color:red;
  cursor: pointer;
}
.delete-comment, .edit-comment{
  float:right;
}

/* LOGO */
.brand-logo span{
  font-size:20px;
  font-weight: 900;
  text-transform: uppercase;
}

/* color of li on small screen device */
ul.sidenav div li .red{
  color: white;
}

/*   EDIT COMMENTS DIVS */
div.input-field.addcomment{
  display: block;
  width:100%;
}

div.input-field.addcomment textarea.materialize-textarea{
  margin-top:6px;
  margin-bottom:20px;
}
div.input-field.addcomment label{
  margin-top:6px;
}
div.collection-item span#edit-text {
  font-size:12px;
  color: rgb(189, 0, 0);
  display: block;
}
/* Likes / unlikes */

.add-like-comment, .add-unlike-comment{
  float:right;
}
/* Toast */
#toast-container .toast{
  background-color: rgb(189, 0, 0);
}


@media (min-width: 400px) and (max-width:506px){
  .delete-comment, .edit-comment,
  .add-like-comment, .add-unlike-comment{
    float:none;
  }
}